{extend name="base" /}
{block name="content"}
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li class="active">
                <i class="fa fa-home"></i>&nbsp;用户管理
            </li>
            <li>用户列表</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body">
        <a href="{:url('admin/customer/customeradd')}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp;用户添加</a>
        <div class="row">
            <div class="col-xs-12">
                <div class="widget">
                    <div class="widget-header">
                        <span class="widget-caption">会员列表</span>
                        <div class="widget-buttons">

                        </div>
                    </div>
                    <div class="widget-body">
                        <form action="{:url('admin/customer/customerlist')}" method="post">
                        <div style="margin: auto; width: 600px; text-align: center">
                            <input placeholder="请输入用户名" style="height: 30px; margin: 10px; border: 1px solid #d0dde9" name="username">
                            <button>搜索</button>
                        </div>
                        </form>
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>昵称</th>
                                <th>地址</th>
                                <th>邮箱</th>
                                <th>电话号码</th>
                                <th>年龄</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            {if count($members) gt 1}
                            <tbody>
                            {volist name="members" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.nickname}</td>
                                <td>{$vo.profile.addr}</td>
                                <td>{$vo.profile.email}</td>
                                <td>{$vo.profile.tel}</td>
                                <td>{$vo.profile.age}</td>
                                <td>
                                    <a href="{:url('admin/customer/customeredit', ['id' => $vo.id])}" class="btn btn-azure btn-xs">编辑</a>
                                    <a href="#" dataid="{$vo.id}" class="btn btn-danger btn-xs memberDel">删除</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                            {else /}
                            <thead>
                            <tr>
                                <td>{$members.id}</td>
                                <td>{$members.nickname}</td>
                                <td>{$members.profile.addr}</td>
                                <td>{$members.profile.email}</td>
                                <td>{$members.profile.tel}</td>
                                <td>{$members.profile.age}</td>
                                <td>
                                    <a href="{:url('admin/customer/customeredit', ['id' => $members.id])}" class="btn btn-azure btn-xs">编辑</a>
                                    <a href="#" dataid="{$members.id}" class="btn btn-danger btn-xs memberDel">删除</a>
                                </td>
                            </tr>
                            </thead>
                            {/if}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {if count($members) gt 1}
        <div style="width: 100%">
            {$members}
        </div>
        {else /}
        {/if}
    </div>
    <!-- /Page Body -->
</div>
{/block}
{block name="js"}
{__block__}
<script>
    $(function () {
        $('.memberDel').click(function () {
            var id = $(this).attr('dataid');
            layer.confirm('确定删除吗？', {
                title:'会员删除',
                icon:3
            }, function (index) {
                layer.close(index);
                $.ajax({
                    url:"{:url('admin/customer/customerdel')}",
                    type:'post',
                    data:{id:id},
                    dataType:'json',
                    success:function (data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {
                                icon:6,
                                time:2000
                            }, function () {
                                location.href = data.url;
                            });
                        }else {
                            layer.open({
                                title:'删除失败',
                                content:data.msg,
                                icon:5,
                                anim:6
                            });
                        }
                    }
                });
            })
            return false;
        });
    });
</script>
{/block}